<div class="bg-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">
        Ammenities - @Ammenity.Id
    </h4>
    @Ammenity.Name<br/>
    @Ammenity.Description<br/>
</div>

@code {
    [Parameter]
    public Model.HotelAmmenity? Ammenity { get; set; }
}